
*{
    padding: 0;
	margin: 0;
}

.body{
	font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
	color: $blanco;
	background-image: url(../img/background.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
}

fieldset{
    width: fit-content;
    padding: 10px;
}

header{
    img{
    width: $w-100;
    }
}

nav{
    background-color: $navColor;
    position: sticky;
    top: 0;
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
         display: flex;
         img{
            padding: 15px 30px;
            width: $w-100;
            height: auto;
        }
     }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        align-content: space-around;
        li{
            align-content: space-around;
            list-style: none;
            align-self: center;
            text-align: center;
            margin-left: 40px;
            a{
                text-decoration: none;
                @include navbutton(white, 1rem, black, rgb(168, 126, 35));
                align-self: center;
                &:hover{
                    color: $navButton;
                    font-weight: 600;
                }
            }
        }
     }
}
.botonHamburguesa{
    width: 10%;
}

.botonHamburguesa-icono{
width: 100%;
max-width: none;
}

footer{
    background-color: $navColor;
    div{
        margin: 15px 15px;
    }
}

.footer{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.rrss_logos{
    width: 120%;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.error{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 300px 0;
}

.error-img{
    width: 80%;
    height: auto;
}

.pagerror{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
	color: $blanco;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
    background-color: #13191b;
}

@media (max-width: 784px){
    .botonHamburguesa{
        width: 15%;
    }
}
@media (max-width: 480px){
    .botonHamburguesa{
            width: 20%;
    }
 }