// Contacto //

.preformulario__contenedor{
	text-align: center;
}

.preformulario__imagen{
	width: 100%;
	height: auto;
}

.formulario{
	width: fit-content;
	margin: auto;
}

.formulario__botonera{
	width: fit-content;
	margin: auto;
	font-size: 2rem;
}

.formulario__texto{
	width: 50%;
}