@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300;400&display=swap');

$fsize0:1rem;
$fsize1:1.3rem;
$fsize2:6rem;
$fsize3:4rem;
$fsize4:2rem;
$fsize5:2.5rem;
$fsize6:3rem;