//colores
$navColor:rgba(83,92,117,0.363);
$blanco:#f1f0f0;
$negro: hsl(0, 0%, 0%);
$navButton:rgb(168, 126, 35);
$imgBack:rgb(184,184,184);

//sizes
$w-100:100%;
$w-50:50%;
$w-80:80%;
$w-70:70%;
$w-10:10%;